body {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
    justify-content: center;
    gap: 20px;
}

div {
border: solid;
padding: 20px;
justify-content: center;
align-items: center;
text-align: center;
background-color: blanchedalmond;
}

div a {
 color: darkmagenta;   
}