html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#home {
    background-color: lightblue;
    color: black;
}

#bio {
    background-color: powderblue;
}

#portfolio {
    background-color: blue;
}

#contact {
    background-color: darkblue;
}