@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #eeeeee;
}

nav {
    display: flex;
    background-color: white;
    flex-direction: row;
    position: sticky; 
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    border: solid, lightgray;
}

/* main {
    padding: 0 15vw;
} */

h1 {
    top: 0;
    left: 0;
}

.navigating {
    display: flex;
    flex-direction: row;
    top: 0;
    right: 20px;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

h1, h2 {
    font-family: Comfortaa;
}

h2 {
    font-size: 15px;
}

/* .navigating a {
    top: 0;
    align-items: center;
    right: 20px;
    gap: 10px;
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
} */

.display {
    /* display: grid;
    grid-template-columns: 60% 40%; */
    padding-top: 20px;
    padding-left: 5vw;
    margin-right: 43vw;
    
}

.stories {
    display: flex;
    border: solid, white;
    background-color: white;
    gap: 20px;
    padding: 10px;
    align-items: center;
    margin-right: 1px;
}

.stories div {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    margin-right: 1px;
    color: #747474;
}

.stories p {
    margin: 0;
}

.stories img {
    border-radius: 50%;
    width: 50px;
    height:50px;
    object-fit: cover;
    border: solid, lightgray;

}

.recommendations {
    margin-right: 10px;
    position: fixed;
    top: 100px;
    left: 58vw;
    width: 40vw;
}

.yourprofile {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
    align-items: center;
    gap: 20px;
}

.yourprofile img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.otherprofiles img {
    margin-left: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    

}


.otherprofiles div {
    margin-left: 20px;
    margin-top: 20px;
}

.otherprofiles div p {
    margin: 0px;
}

.profile {
    display: grid;
    grid-template-columns: 10% 50% 40%;
    align-items: center;
}

.post {
    margin-top: 10px;
    background-color: white;
}


.post img {
    width: 100%;
    object-fit: cover;
}

/* .post div {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
} */

.postheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.postbuttons {
    gap: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.postbuttonright {
    padding-right: 10px;
    padding-top: 5px;
}

.likesnumber {
    padding-left: 10px;
}

.comments {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 10px;
}

.comments p {
    font-size: 15px;
}

.comment {
    margin-top: 0px;
}

.comment p {
    margin: 5px;
}

.addcomment {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
    justify-content:space-between;
    border-top: solid #eeeeee;

}

.commenting {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
}

.posting {
    font-size: 15px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #396aa6;
 }



@media (max-width: 800px) {
    .recommendations {
       display: none;
    }

    .display {
        margin-right: 5vw;
    }
 }

